@layer components {
	.prompt-action {
		line-height: 1;
	}
	.prompt-action-icons {
		position: absolute;
		inset: 0;
		display: grid;
		overflow: clip;
		place-items: center;
	}
	.prompt-action-icons > svg {
		width: 0.875rem;
		height: 0.875rem;
		grid-area: 1 / 1;
	}
	.prompt-footer:not([data-prompt-initial]) .prompt-action-icons > svg {
		transition:
			display 150ms allow-discrete,
			translate 150ms var(--ease-out);
	}
	.prompt-action-icon-exit {
		display: none;
		translate: 0 -2rem;
	}

	@starting-style {
		.prompt-footer:not([data-prompt-initial]) .prompt-action-icon-enter {
			translate: 0 2rem;
		}
	}
	.prompt-action[data-variant="destructive"] {
		background: oklch(from var(--status-danger) l c h / 20%);

		&:where(:not(:disabled):hover) {
			background: oklch(from var(--status-danger) l c h / 30%);
		}
	}
	.prompt-abort-icon rect {
		fill: currentColor;
	}
	.prompt-send-icon path {
		stroke-width: 3;
	}
}
