@import "tailwindcss";
@import "basecoat-css/components/kbd.css";
@import "basecoat-css/components/tooltip.css";
@import "basecoat-css/nova";

@layer theme {
	:root,
	:host {
		--font-sans:
			ui-sans-serif, system-ui, "Inter", sans-serif, "Apple Color Emoji",
			"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--font-mono:
			ui-monospace, "Cascadia Mono", SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
		--code-background: var(--muted);
	}
}

@layer base {
	* {
		scrollbar-color: var(--muted-foreground) transparent;
		scrollbar-width: thin;
	}

	html.dark .shiki span {
		color: var(--shiki-dark) !important;
	}
}

@layer components {
	[data-tooltip][data-tooltip-suppressed]::before,
	[data-tooltip][data-tooltip-suppressed]::after {
		display: none;
	}

	[data-tooltip][data-tooltip-delay]:hover::before,
	[data-tooltip][data-tooltip-delay]:hover::after {
		transition-delay: 600ms;
	}
}
