@layer components {
	#toolbar {
		display: contents;
	}

	.toolbar-review {
		grid-column: 1;
		justify-self: start;
	}
	.toolbar-actions {
		display: flex;
		grid-column: 2;
		align-items: center;
		gap: 0.125rem;
	}
}
